{%  extends "base.html.twig" %}
{% block body %}
    {%  if app.user %}
    <h2>TEST USER</h2>
    {%  endif %}
    <h1 class="bg-blue-500 text-2xl text-center font-bold">Mon Test</h1>
    <img src="{{ asset('build/images/image1.8833266b.jpg') }}" alt="">
{%  endblock %}
