{%  extends "base.html.twig" %}
{% block title %}
 Movies page
{%  endblock %}


{% block body %}

{% for movie in movies %}

    <li> {{ movie }}</li>

{% endfor %}

    {{ author }}

{%  endblock %}
